<nav class="navbar navbar-expand navbar-dark bg-primary justify-content-between">
  <span class="navbar-brand mb-0 h1" href="#">{{ appTitle }}</span>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="/popular">Popular movies</a>
    </li>
  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <app-searchbox></app-searchbox>
  </div>
</nav>
